img {
  display: flex;
  align-items: end;
  max-width: 20%;
  float: left;
  border-radius: 50px;
  margin: 5%;
}

h1 {
  display: flex;
  align-items: left;
  font-size: 4em;
  font-size: 30px;
  color: rgb(16, 1, 1);
  font-family: " Arial";
  margin: 10% 5% 0 0;
  position: relative;
}

.description1 {
  display: flex;
  font-size: 16px;
  color: rgb(16, 1, 1);
  font-family: " Arial";
  margin: 5% 30%;
  padding: 7px 18px 0 7px;
}
